{{ 'lotion-lp.css' | asset_url |  stylesheet_tag}}

   <header>
    <h1> {{ page.title }} </h1>
    </header>

    <section>
        <main>
            <p>{{ page.content }}</p>
        </main>

        <hr>


    {% assign featured_product = section.settings.main_product %}

    {% if featured_product != blank %}

        <div class="featured-product">

        <h2>{{ featured_product.title }}</h2> 
        <p>{{ featured_product.price | money }}</p> 
        <img src="{{ featured_product.featured_image | img_url: 'medium' }}" alt="{{ featured_product.title }}"> 
        <a href="{{ featured_product.url }}">Ver produto</a> 

    </div>
    {% endif %}

<hr>



    <div class="collection-list">

    {% assign selected_collection = section.settings.all_collections %}

    {% for product in selected_collection.products %}

        <div class="product-card">
        <h3>{{ product.title }}</h3>
        <p>{{ product.price | money }}</p>
        <img src="{{ product.featured_image | img_url: 'small' }}" alt="{{ product.title }}">
        <a href="{{ product.url }}">Comprar</a>

        </div>
    {% endfor %}
  </div>
    </section>


{% schema %}
{
    "name": "lotion-lp",
    "settings": [

        {
            "type": "text",
            "id": "title",
            "label": "Teste",
            "default": "Loções"
        },

        {
            "type": "product",
            "id": "main_product",
            "label": "Produto Principal"
        },
            {
                "type": "collection",
                "id": "all_collections",
                "label": "Loções"
            }
        ],
        "presets": [
            {
                "name": "lotion-lp"
            }
        ]
}
{% endschema %}

